body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image:url(https://i.postimg.cc/4dVyksH1/bg4.jpg);
}

header {
  background-color:rgb(227, 149, 162);
  color: #fff;
  text-align: center;
  padding: 20px;
}

#todoapp {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#new-todo {
  width: calc(100% - 240px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

[type="radio"] {
  margin-right: 5px;
}

#start-date, #end-date {
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#add-btn, #delete-all-btn {
  padding: 10px 20px;
  background-color: rgb(236, 168, 191);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.todo-item.completed label {
  text-decoration: line-through;
  color: #888;
}



#todo-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.todo-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
}

.todo-item label {
  font-size: 18px;
  margin-bottom: 5px;
}

.todo-item div {
  display: flex;
  justify-content: space-between;
}

.todo-item span {
  margin-right: 10px;
}

.complete-btn, .delete-btn, .update-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.complete-btn {
  background-color: #4CAF50;
  color: #fff;
}

.delete-btn {
  background-color: #f44336;
  color: #fff;
}

.update-btn {
  background-color: #008CBA;
  color: #fff;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Adjustments for screen widths between 768px and 1023px */
  #todoapp {
    max-width: 80%;
  }

  #new-todo {
    width: calc(100% - 200px);
  }
  
  #add-btn, #delete-all-btn {
    padding: 8px 16px;
  }

  .todo-item label {
    font-size: 16px;
  }

  .complete-btn, .delete-btn, .update-btn {
    padding: 4px 8px;
  }
}



@media screen and (max-width: 767px) {
  /* Adjustments for screen widths up to 767px */
  #todoapp {
    max-width: 90%;
  }

  #new-todo {
    width: calc(100% - 160px);
  }
  
  #add-btn, #delete-all-btn {
    padding: 6px 12px;
  }

  .todo-item label {
    font-size: 14px;
  }

  .complete-btn, .delete-btn, .update-btn {
    padding: 2px 6px;
  }
}
